<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts -->

    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <title>ToDo List App</title>
    <link rel="stylesheet" href="css\styles.css">
</head>
<body>
   
    <div class="box" id="heading">
        <h1>  <%= listTitle %></h1>
    </div>

    <div class="box">
          <% for (let i = 0; i < newListItems.length; i++) { %>
            <div class="item">
                <input type="checkbox">
                <p><%= newListItems[i] %></p>
            </div>               
          <%    }  %>
            
    
       <form class="item" action="/" method="post" autocomplete="off">
          
          <input type="text" name="newItems" placeholder="New Item" required>
           <button type="submit" name="list" value="<%= listTitle %>">+</button>

       </form>
    </div>

    


</body>
<footer>
   &#0169; Fatolu Stephen <%= new Date().getFullYear();%>
</footer>
</html>